.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  z-index: 1;

  svg {
    color: #7e42be;
    font-size: 30px;
  }

  @media (max-width: 1199px) {
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    flex-direction: row;
  }
}